body {
    font-family:sans-serif;
    margin: 0;
    background: #0D1321;
}

header {
    display: flex;
    position: sticky;
    width: auto;
    margin: 6vh 10vh 0vh 10vh;
    justify-content: space-between;
    align-items: center;
    color: #FDF4F1;
}

.logo {
    width: auto;
    height: 10vh;
}

li {
    list-style: none;
    display: inline-block;
    font-weight: 500;
    padding: 2vh;   
}

.nave {
    text-decoration: none;
    color: #FDF4F1 ;
}

nav li {
    text-decoration: none;
}

footer {
    background-color: #0D1321;
    color: #FDF4F1;
    text-align: center;
    padding: 20px 0;
}
