body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    background: #0D1321;
}

header {
    display: flex;
    position: sticky;
    width: auto;
    height: 120px;

    justify-content: space-between;
    align-items: center;

    background: #FDF4F1;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 57px 57px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 6%;
}

.list{
    margin: 80px;
}

li {
    list-style: none;
    display: inline-block;
    font-weight: 500;
    padding: 12px;
    
}

.nave {
    text-decoration: none;
    color: #303030;
    padding: 12px;
    border-radius: 19px;

}

.nave:hover {
    color: #FFFFFF;
    background: linear-gradient(244.06deg, rgba(95, 107, 234, 0.726) 0.9%, #da65dabb 99%);
    padding: 12px;   
    transition: all 300ms ease;
}


nav li {
    text-decoration: none;
}